pandas 
torch
notebook
numpy
scikit-learn
matplotlib
plotly
tk
python-box
pyYAML
tqdm
ensure
joblib
pyarrow
utilsforecast
statsforecast
datasetsforecast
kaleido
humanize
pytorch_lightning
mlforecast
window_ops
xgboost
lightgbm
category_encoders
#pytorch-tabular
pytorch-tabular>=1.0.0

